h4{
    color: green;
}

.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    size: 20px;}
.direction {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    }
.direction:hover{
    background-color: yellow;
    color: black;
}

h6:hover{color: yellow;}

.h6{ color: brown; 

}
.BAUER{
color: orange;
}
.LANE{
color: blue;
}
.BAUER:hover{
    background-color: aqua;
    border: solid 3px red;
}

table { border: dashed 3px red;
    border-collapse: collapse
    margin 50px;
    padding: 10px; }

td, th {border: solid 1px ;
    text-align: center;}

tr:nth-child(even) 
{
    background-color: #e2e2e2;
}

h6:hover{
    background-color: yellow;
    border: solid 3px red;
    box-shadow: 10px 10px 5px pink;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: yellow;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: maroon;
      font-style: bold;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

 img{
    display: flow-root;
    text-align: center;
    background-color: violet;
    width: 200px;
    height: 200px;
  }