h4{
    color: green;
}

.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    size: 20px;

}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    size: 25px;
}
.direction:hover{
    background-color: yellow;
    color: black;
}
.h6 {
    color: black;

}
h6:hover{color: yellow;}
.BAUER{
color: orange;
}
.LANE{
color: blue;
}
